html {
    font-size: 10px; /* px 表示 “像素（pixels）”: 这个基础字号现在高10像素 */
    font-family: 'Open Sans', sans-serif; /* 剩下的部分是你从 Google fonts 上获取的输出 */
  }

  p {
      background-color: bisque;
      padding: 15px;
      text-indent: 4em; /* 缩进 */
      text-align: center;

  }

  body {
      background-image: url("http://pic.58pic.com/58pic/13/66/50/29x58PICIjD_1024.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed; /* 是否滑动 */
  }

  #li_blink {
      text-decoration: underline;
  }